


   <!-- head-->
   {{ partial "baseof-part/main-head" . }}
    <!-- Header -->
  <header class="header">
   {{ partial "main-part/search/search-form" . }}
    </header>
    
  <body>
   <!-- left Sidebar Overlay (mobile only) -->
  <div class="main-container scroll-fade">
   
   <!-- Right Sidebar (desktop only) -->
    <main class="main-content">
   
    {{ block "main" . }} {{ end }}
    </main>

  </div>
      <!-- Footer -->

    {{ partial "baseof-part/footer" . }}

</body>
</html>
  
  
  
  