<style>
.yp-table-wrapper {
  width: 100%;
  margin: 10px auto;
  overflow-x: auto;
}

.yp-table {
   width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.yp-table td {
  border: 1px solid #ddd;
  padding: 15px;  
  vertical-align: top;
}
.yp-table td {
  border: 1px solid #ddd;
  padding: 15px;
  vertical-align: top;
}

.yp-heading {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.yp-table h3 {
  margin: 0 0 10px;
  font-size: 1rem;
  color: #007c11;
  display: inline-block;
  padding-bottom: 3px;
   font-size: 1rem;
}

.yp-table ul {
  margin: 0;
  padding-left: 20px;
}

.yp-table li {
  margin-bottom: 6px;
  line-height: 1.5;
}
/* Table Styles */
.yp-table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}



.yp-table th {
  background-color: #fcd9c5;
  color: black;
  font-weight: bold;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.yp-table td {
  padding: 0.75rem 1rem;
  border-top: 1px solid #ddd;
  font-size: 1rem;
  color: var(--text-color);
}

.yp-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.yp-table tr:hover {
  background-color: #f5e6a160;
}

.yp-table a {
  text-decoration: none;
}

.yp-table a:hover {
  color: #bb0b0b;
}
  .label{color:red; font-weight:bold;}

.toptable {
  border-collapse: collapse;
  width: 100%;
}
.toptable td {
  padding: 6px 8px;
  vertical-align: top;
  border: none; /* border हटाने के लिए */
}
.toptable td:first-child {
  font-weight: bold;
  width: 180px; /* पहली column fix चौड़ाई */
  color: #333;
}
/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

</style>
<div class="topinfo"> 
  <table class="toptable"> 
    <tr> 
      <td class="label"> <span class="label">Name of Post: </span></td> 
      <td><span style="color: #000; font-weight: bold;"> {{ with .Params.seo_title }}{{ . }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }} </span></td> 
    </tr>
    <tr> 
      <td> <span class="label">Post Date / Update:</span></td> 
      <td><b> {{ .Date | time.Format "02/01/2006 | 03:04 PM" }} </b></td> 
    </tr>
    {{ with .Params.WhatsNew }}
     <tr> 
      <td> <span class="label">Whats New:</span></td> 
      <td> {{ partial "farmate/parts/jobsupdate/whatsnew" . }}</td> 
    </tr>
{{ end }}
    <tr> 
      <td> <span class="label"> Short Information : </span></td> 
      <td><a href="{{ .Params.OfficialSource }}" target="_blank" style="color:#006d09; font-weight: bold;">
        {{ .Params.department }}
      </a> has released a <span class="tooltip"> Official Notification  <span class="tooltiptext"> {{ .Params.Notification }}</span></span>  of <b>{{ .Params.postName}}</b>. 
      The application process will be open from <b>   {{ with .Params.begindate }} {{ . | time.Format "02 Jan" }}{{ end }}</b> to <b>{{ with .Params.lastdate }} </span> {{ . | time.Format "02 Jan 2006" }}{{ end }}  </b>. 
      Candidates must meet the required eligibility criteria including <b>{{ .Params.qualified }}</b>. 
      As per the official notification, <b>{{ .Params.postdetails }}</b>. 
      Interested candidates are advised to check the important dates and ensure they apply before the last date. 
      For complete information, download the official notification and apply online using the links provided below.  </td> 
    </tr>
  </table>
</div>

<div class="yp-table-wrapper">
  <table class="yp-table">
    <tr>
      <td colspan="2" class="yp-heading">
        <span style="color: #ff00ff">{{ .Params.department }}</span> <br>
       <span style="color: #007c11">  {{ .Params.recruitment }} </span> <br>
        <span style="color: #fc0606"> {{ .Params.Notification }}</span><br>
         <span style="color: #000000"> www.gajabjobs.com</span>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Important Date</h3>
        <ul>
        {{ partial "farmate/parts/jobsupdate/impdates.html" . }}
      </td>
      <td>
        <h3>Application Fee</h3>
        <ul>
          {{ partial "farmate/parts/jobsupdate/applyfees" . }}
        </ul>
      </td>
    </tr>
    <tr>
        <td colspan="2"> <strong> <span style="color: #ff00ff">{{ .Params.PostName }} Notification {{ with .Params.lastdate }} {{ . | time.Format "2006" }}{{ end }}</span>: <span style="color: #007c11"> Eligibility Criteria</span> </strong></td>
      </tr>
    <tr>
        <td colspan="2">

        <ul>
           {{ partial "farmate/parts/jobsupdate/age_limit" . }}
          <li>For relaxation, read official notification "<b>{{ .Params.Notification }}</b>".</li>
        </ul>
      </td>
    </tr>
  </table>
</div>
<table class="yp-table"> <tr><td colspan="3"> <strong> <span style="color: #ff00ff" > {{ .Params.PostName }} Recruitment {{ with .Params.lastdate }} {{ . | time.Format "2006" }}{{ end }} </span> : <span style="color: #007c11"> Total Post {{ .Params.TotalPost }} Vacancy Details  </span></strong></td> </tr></table>
{{ .Content }}

<table class="yp-table">
    <tr>
        <td> <strong> <span style="color: #ff00ff "> How To Apply for</span>  <span style="color: #007c11">{{ .Params.PostName }} Vacancy {{ with .Params.lastdate }} {{ . | time.Format "2006" }}{{ end }} </span>:</strong></td>
      </tr> <td> {{ partial "farmate/parts/jobsupdate/howto" . }} </td></tr>
</table>
 {{ partial "farmate/parts/link-table.html" . }}
</div>
