
<header>
	<center>
<div id="header1">
	<div id="headerimg">
		<a href="/"><img src="{{ .Site.Params.homelogo | relURL }}" height="150" width="150" alt="Gajab Jobs"></a>
	</div>
	<div id="headerS">
		GAJAB JOBS<br>
		 <p>WWW.GAJABJOBS.COM</p>
	</div>
</div>
<div id="header2"> 
	<div id="header2UL">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/latest-jobs/"> <span class="hide-mobile">Latest</span> Jobs </a></li>
			<li><a href="/results/">Results</a></li>
			<li><a href="/admitcard/">Admit Card</a></li>
			<li class="hide-mobile"><a href="/student-help/">Admissions </a></li>
            <li class="hide-mobile"><a href="/contact/">Contact</a></li>
             <li class="hide-mobile"><a href="/social-media/">Follow Us </a></li>
			 <li class="fixed-item"><a href="/search/"> Search </a></li>
		</ul>
	</div>
</div>

</center>
  </header>

