<!DOCTYPE html>
<html lang="{{ .Params.lang | default .Site.Language.Lang }}">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PBCHNTR3');</script>
<!-- End Google Tag Manager -->
  {{ partial "imp-codes/seo-meta.html" . }}
{{ partial "imp-codes/schema.html" . }}

<link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></noscript>

{{ with .Params.cssStyles }}
  {{ range . }}
    {{ $css := resources.Get . | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ end }}
{{ end }}
{{ partial "style/stylesheet" . }}
{{ partial "style/yp-main-base" . }}
{{ partial "style/right-sidebar" . }}

<link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" as="style">
{{ if .Params.cssStyle }}
<link rel="preload" as="style" href="{{ .Params.cssStyle | relURL }}" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ .Params.cssStyle | relURL }}"></noscript>
{{ else }}
<link rel="preload" as="style" href="{{ "css/default.css" | relURL }}" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ "css/default.css" | relURL }}"></noscript>
{{ end }}

     
    <style> 
        body {
        background-color: #eee;
        }
       .logo a {text-decoration: none;}
    
      </style>
     
</head>

  <!-- Header -->
  {{ partial "main-part/header" . }}
  {{ partial "baseof-part/navbar" . }}
