
  <!doctype html>
<html lang="{{ .Params.lang | default .Site.Language.Lang }}">
<head>
<meta charset="UTF-8"/>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PBCHNTR3');</script>
<!-- End Google Tag Manager -->
<meta name="viewport" content="width=599">
<!-- Basic Meta -->
<title>{{ with .Params.seo_title }}{{ . }}{{ else }}{{ .Title }} | GAJAB JOBS {{ end }}</title>
<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta name="keywords" content='{{ if .Params.keywords }}{{ $keywords := delimit .Params.keywords ", " }}{{ if gt (len $keywords) 200 }}{{ substr $keywords 0 200 }}{{ else }}{{ $keywords }}{{ end }}{{ else }}Gajab Jobs - Sarkari Results 2025{{ end }}'>

{{ partial "imp-codes/seo-meta.html" . }}
{{ partial "imp-codes/schema.html" . }}
{{ partial "main-part/minifest.html" . }}
<meta name="google-site-verification" content="uUXL4H0iN6AG6uy4W7z-lbQMA-Bm-7ORGSMo07dVYpo" />
{{ if eq .Params.adsense true }}
<!-- Adsense Script -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4855323063398382"
     crossorigin="anonymo us"></script>
{{ end }}
{{ with .Params.cssStyles }}
  {{ range . }}
    {{ $css := resources.Get . | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ end }}
{{ end }}

{{ partial "style/yp-base-main" . }}
{{ partial "style/right-sidebar" . }}
{{ if .Params.cssStyle }}
<link rel="preload" as="style" href="{{ .Params.cssStyle | relURL }}" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ .Params.cssStyle | relURL }}"></noscript>
{{ end }}

</head>

 